@import "../../scss/mixins.scss";

.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  gap: 2.4rem;
  justify-content: center;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 9.6rem;

    & > :first-child {
      max-height: 27rem;
    }
  }
}
