@import "../../scss/mixins.scss";

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0.8rem;

    height: 9.1rem;
    padding: 1.3rem 2.4rem;
  }
}
